README
setup.py
shaveet/__init__.py
shaveet/api.py
shaveet/channel.py
shaveet/config.py
shaveet/consts.py
shaveet/gc.py
shaveet/lookup.py
shaveet/main.py
shaveet/utils.py
include shaveet/static/shaveet.js
recursive-include examples *
